<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:if="${isCreditOK==null}">'Brak'</span>
<span th:if="${isCreditOK}">Przyznano</span>
<span th:if="${isCreditOK==false}">Nie przyznano kredytu</span>

<form th:if="${isCreditOK==null or isCreditOK==false}" th:object="${registerForm}" method="post" action="/registerCreditCard">
    Name: <input type="text" th:field="*{name}" placeholder="name"/>
    <br/>
    Last Name: <input type="text" th:field="*{lastName}" placeholder="lastName"/>
    <br/>
    Credit Value: <input type="text" th:field="*{creditValue}" placeholder="creditValue"/>
    <br/>
    Monthly Expenses: <input type="text" th:field="*{monthlyExpenses}" placeholder="monthlyExpenses"/>
    <br/>
    Monthly Income: <input type="text" th:field="*{monthlyIncome}" placeholder="monthlyIncome"/>
    <br/>
    Credit Time: <input type="text" th:field="*{creditTime}" placeholder="creditTime"/>
    <br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>